html {
    scrollbar-color: theme('colors.indigo.600') #F5F5F5;
    scrollbar-width: thin;
}

html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

html::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb {
    background-color: theme('colors.indigo.700');
    background-image: -webkit-linear-gradient(45deg,
        rgba(255, 255, 255, .2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .2) 50%,
        rgba(255, 255, 255, .2) 75%,
        transparent 75%,
        transparent)
}

.scroll-thin {
    scrollbar-color: theme('colors.indigo.300') theme('colors.gray.100');
    scrollbar-width: thin;

    &::-webkit-scrollbar-track {
        //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: theme('colors.gray.100');
    }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: theme('colors.gray.100');
    }

    &::-webkit-scrollbar-thumb {
        background-color: theme('colors.indigo.400');
        background-image: -webkit-linear-gradient(45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent)
    }
}
