* {
    outline: none;
}

.max-w-screen-xl {
    max-width: 1280px !important;
}

.pt-header {
    padding-top: 66px;
}

.top-header {
    top: 66px;
}

.h-screen-sidebar {
    height: calc(100vh - 66px);
}

.block-important {
    display: block !important;
}

@media all and (min-width: 1024px) {
    .w-initial {
        width: initial;
    }
}

.max-h-screen {
    max-height: calc(100vh - 100px)
}

.max-h-inherit {
    max-height: inherit;
}
